/* mulish-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/mulish-v12-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mulish-600 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/mulish-v12-cyrillic_latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mulish-900 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/mulish-v12-cyrillic_latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1;
  background: #f8e8e2 url("../img/bg.svg") no-repeat top/contain;
}

button {
  padding: 0;
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
p,
fieldset {
  margin: 0;
}

.container {
  --width: 1180px;
  --padding: 30px;
  max-width: calc(var(--width) + (var(--padding) * 2));
  padding: 0 var(--padding);
  margin: 0 auto;
}

.btn {
  padding: 12px 28px;
  color: #fff;
  font-weight: 600;
  border-radius: 40px;
  background-color: #F44;
  box-shadow: 0px 4px 20px 0px #fa5a5a;
}

/*=================== HEADER =====================*/

.header {
  padding: 36px 0;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__btns {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header__btn {
  display: inline-block;
}

.header__btn--order {
  width: 24px;
  height: 24px;
}

/*=================== HERO =====================*/

.hero {
  padding: 30px 0 85px;
}

.hero__title {
  max-width: 880px;
  font-size: 84px;
  font-weight: 900;
}

.text-red {
  color: #f44;
}

.hero__caps {
  padding-top: 270px;
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

.hero__cap {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 24px;
}

.hero__cap--pink {
  background-color: #FF196C;
}

.hero__cap--orange {
  margin-top: -70px;
  align-self: flex-start;
  background-color: #FFB72A;
}

.hero__cap--green {
  background-color: #34B905;
}

.hero__img {
  position: absolute;
  width: 55%;
  bottom: 13%;
  left: 50%;
  transform: translateX(-50%);
}

/*=================== GOODS =====================*/

.goods {
  padding: 60px 0 70px;
}

.goods__title {
  font-size: 44px;
  font-weight: 900;
  margin-bottom: 40px;
}

.goods__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

/*=================== Cocktail =====================*/

.cocktail {
  height: 100%;
  padding: 12px;
  display: flex;
  flex-direction: column;
  border-radius: 32px;
  background-color: #fff;
}

.cocktail__img {
  width: 100%;
  margin: 0 auto;
  border-radius: 24px;
}

.cocktail__content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.cocktail__text {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2px 5px;
}

.cocktail__title {
  grid-row: 1/3;
  font-size: inherit;
}

.cocktail__price {
  text-align: end;
  font-weight: 600;
}

.cocktail__size {
  flex: 0 0 100%;
  text-align: right;
  color: #c1c1c1;
  font-size: 12px;
  font-weight: 600;
}

.cocktail__btn {
  margin-top: auto;
}

/*=================== FOOTER =====================*/

.footer {
  padding: 30px 0 32px;
}

.footer__container {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'logo .'
    'copyright developer';
}

.footer__logo {
  grid-area: logo;
}

.footer__copiryght {
  grid-area: copyright;
}

.footer__developer {
  min-width: 230px;
  grid-area: developer;
  justify-self: end;
}

.footer__developer--item {
  margin-bottom: 10px;
}

.footer__developer--item:last-child {
  margin-bottom: 0;
}

/*=================== MODAL ORDER=====================*/

.modal {
  position: fixed;
  inset: 0;
  display: none;
  padding: 10px;
  background-color: rgba(0, 0, 0, .5);
  overflow-y: auto;
  cursor: pointer;
}

.modal__main {
  width: 100%;
  margin: auto;
  padding: 60px 40px;
  border-radius: 24px;
  background: #f8e8e2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: default;
}

.modal__main--order {
  max-width: 780px;
}

.modal__title {
  padding-bottom: 40px;
  font-size: 44px;
  font-weight: 900;
  border-bottom: 1px solid #fff;
}

.modal__title sup {
  font-size: 32px;
  font-weight: 900;
}

.modal__item {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  gap: 12px;
  border-bottom: 1px solid #fff;
}

.modal__img--wrap img {
  max-width: 70px;
  width: 100%;
  border-radius: 8px;
}

.modal__item--cocktail {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 0 1 80%;
  color: #D5B4A8;
  font-size: 12px;
  font-weight: 600;
}

.modal__item--title {
  font-size: 18px;
  font-weight: 400;
  color: #000;
}

.modal__item--content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  flex-basis: 48px;
}

.modal__total {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 600;
}

.modal__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.modal__form--set {
  width: 100%;
  margin-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  border: none;
}

.modal__form--imput {
  max-width: 340px;
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  background: #FFF;
  border: none;
}

.modal__form--btn {
  align-self: flex-end;
}

/*=================== MODAL MAKE=====================*/

.modal__main--make {
  max-width: 640px;
}

.make__title {
  margin-bottom: 40px;
  font-size: 44px;
  font-weight: 900;
}

.make__form {
  display: grid;
  grid-template-columns: repeat(3, minmax(230px, 1fr));
  grid-template-areas:
  "ingredients ingredients ingredients"
  "topping cup ."
  "footer footer footer"
  ;
}

.make__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.make__fieldset--ingredients {
  margin-bottom: 34px;
  grid-area: ingredients;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
}

.make__fieldset--topping {
  margin-bottom: 40px;
  width: 150px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  grid-area: topping;
}

.make__fieldset--cup {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  grid-area: cup;
}

.make__footer {
  display: flex;
  align-items: center;
  column-gap: 30px;
  grid-area: footer;
}

.make__legend {
  margin-bottom: 24px;
  color: #D5B4A8;
}

.make__upsale {
  color: #D5B4A8;
  font-size: 12px;
}

.make__total-price {
  font-weight: 600;
}

.make__total-size {
  color: #D5B4A8;
  text-align: right;
  font-size: 12px;
  font-weight: 600;
} 

.make__add--btn {
  max-width: 232px;
  width: 100%;
}

.checkbox {
  position: relative;
  display: block;
  padding-left: 32px;
  line-height: 24px;
  cursor: pointer;
}

.checkbox__input {
  position: absolute;
  width: 24px;
  height: 24px;
  margin-left: -32px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}

.checkbox__input::before {
  content: '';
  position: absolute;
  inset: 0;
  display: block;
  border-radius: 2px;
  background-color: #fff;
  transition: background-color .3s ease-in-out;
}

.checkbox__input::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 15px;
  background-image: url('../img/checkbox.svg');
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.checkbox__input:checked::after {
  opacity: 1;
}

.checkbox__input:hover:before {
  background-color: #f6f6f6;
}

.checkbox__input:focus:before {
  border: 1px solid #d5b4a8;
}

.checkbox__input:focus-visible {
  outline: none;
}

.radio {
  position: relative;
  display: block;
  padding-left: 32px;
  line-height: 24px;
  cursor: pointer;
}

.radio__input {
  position: absolute;
  width: 24px;
  height: 24px;
  margin-left: -32px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}

.radio__input::before {
  content: '';
  position: absolute;
  inset: 0;
  display: block;
  border-radius: 50%;
  background-color: #fff;
  transition: background-color .3s ease-in-out;
}

.radio__input::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  background-color: #000;
  border-radius: 50%;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.radio__input:checked::after {
  opacity: 1;
}

.radio__input:hover:before {
  background-color: #f6f6f6;
}

.radio__input:focus:before {
  border: 1px solid #d5b4a8;
}

.radio__input:focus-visible {
  outline: none;
}

@media (max-width: 1240px) {
  body {
    background-image: url('../img/bg-laptop.svg');
  }

  .container {
    --width: 880px;
  }

  .hero {
    padding-bottom: 30px;
  }

  .hero__title {
    max-width: 680px;
    font-size: 64px;
  }

  .hero__cups {
    padding-top: 216px;
  }

  .hero__cup--orange {
    margin-top: -50px;
  }

  .goods__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 940px) {
  body {
    font-size: 14px;
    background-image: url('../img/bg-tablet.svg');
  }

  .container {
    --width: 608px;
    --padding: 15px;
  }

  .btn {
    padding: 8px 20px;
    box-shadow: 0px 2px 10px 0px #fa5a5a;
  }

  .heder {
    padding-top: 34px 0 20px;
  }

  .header__btns {
    gap: 24px;
  }

  .hero {
    padding-bottom: 46px;
  }

  .hero__title {
    max-width: 468px;
    font-size: 44px;
  }

  .hero__cups {
    padding-top: 112px;
    gap: 13px;
  }

  .hero__cup {
    border-radius: 12px;
  }

  .hero__img {
    bottom: 10%;
  }

  .goods {
    padding-top: 40px;
    padding-bottom: 50px;
  }

  .goods__title {
    margin-bottom: 16px;
    font-size: 24px;
  }

  .goods__list {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 16px;
  }

  .cocktail {
    padding: 8px;
    border-radius: 12px;
  }

  .cocktail__img {
    width: 53px;
    margin-bottom: 8px;
  }

  .cocktail__content {
    padding: 0;
  }

  .cocktail__text {
    row-gap: 8px;
    margin-bottom: 16px;
  }

  .cocktail__title {
    flex: 0 0 100%;
  }

  .cocktail__size {
    flex: auto;
    font-size: 10px;
  }

  .footer {
    padding-bottom: 24px;
  }

  .footer__container {
    gap: 24px;
  }

  .footer__developer--item {
    margin-bottom: 6px;
  }
}

@media (max-width: 640px) {
  body {
    background-image: url('../img/bg-mobile.svg');
  }

  .header {
    padding: 31px 0;
  }

  .header__logo {
    width: 120px;
  }

  .header__btn {
    display: none;
  }

  .hero {
    padding-top: 0;
    padding-bottom: 120px;
  }

  .hero__title {
    font-size: 36px;
  }

  .hero__caps {
    display: none;
  }

  .goods {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .goods__list {
    gap: 10px;
  }

  .footer__logo {
    width: 120px;
  }

  .footer__container {
    grid-template-areas: 'logo' 'copyright' 'developer';
    gap: 20px;
  }

  .modal__main {
    padding: 24px 15px;
  }

  .modal__title {
    padding-bottom: 20px;
    font-size: 24px;
  }

  .modal__title sup {
    font-size: 18px;
  }

  .modal__item {
    gap: 8px;
  }

  .modal__item--cocktail {
    font-size: 10px;
    flex: 0 1 60%;
    gap: 4px;
  }

  .modal__item--title {
    font-size: 14px;
  }

  .modal__total {
    padding: 20px 0;
    font-size: 14px;
  }

  .modal__form--set {
    margin-bottom: 20px;
    gap: 8px;
  }

  .modal__form--btn {
    padding: 8px 20px;
  }
}